user.config
engine
bin
obj
.DS_Store
.idea
.vs
build/
TournamentBot/tournament-bot.json
TournamentBot/data/
TournamentBot/tournament/

# claude
.claude
tools/testmap.oramap
tools/testmap_pack/
packaging/ymca-music.zip

.dotnet/
